<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:workday="http://www.mulesoft.org/schema/mule/workday"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/workday http://www.mulesoft.org/schema/mule/workday/current/mule-workday.xsd">

    <global-property name="mule.env" value="dev" doc:name="Global Property" />

    <configuration-properties doc:name="Configuration properties" doc:id="7ebacc9e-1a3b-45ee-9a3d-e3db74b548ea" file="common.properties" />
    <configuration-properties doc:name="Configuration properties" doc:id="37b176cb-6c25-418a-a487-e8a090c6bc62" file="mule.${mule.env}.properties" />

    <os:object-store name="watermarkStore" doc:name="Object store" persistent="false" />

    <salesforce:sfdc-config name="Salesforce_Sfdc_config" doc:id="ed5b84e3-f862-4f34-a736-b314ac16487f" doc:name="Salesforce Sfdc config">
        <salesforce:basic-connection password="${sfdc.password}" securityToken="${sfdc.securityToken}" username="${sfdc.username}" />
    </salesforce:sfdc-config>

    <workday:config-version-30-config name="Workday_Config" doc:name="Workday Config version 30" doc:id="0bd1c18c-4087-4aa2-a9d6-9b8af516b1a7">
        <workday:basic-authentication-api-v30-connection username="${wday.username}" password="${wday.password}"
            tenantName="${wday.tenant}" hostName="${wday.host}" responseTimeout="${wday.responseTimeout}" />
    </workday:config-version-30-config>

</mule>
